<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>851634115251-rd10ojsomj31qj77enmfci1dtglfa2j9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.851634115251-rd10ojsomj31qj77enmfci1dtglfa2j9</string>
	<key>API_KEY</key>
	<string>AIzaSyCV5sT8MMxviRDRMx5iT-Bb12PN5kybyG0</string>
	<key>GCM_SENDER_ID</key>
	<string>851634115251</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Kevin.ShuKevinFinalProject</string>
	<key>PROJECT_ID</key>
	<string>ootd-app-98eaf</string>
	<key>STORAGE_BUCKET</key>
	<string>ootd-app-98eaf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:851634115251:ios:ace2e0dce2c9955355d6c6</string>
</dict>
</plist>